body{
    background-color: #ffffff;
 
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#f1f2f6 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #c7ecee 8px, #ffffff 8px) -4px 0;
    background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    margin-top: 5%;
    padding: 45px;
    text-align: center;     
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 
}
.username-field{

    height: 30px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px; 
    border: 3px solid #dfe6e9;
    font-size: 15px;

}
.password-field{
    height: 30px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10%; 
    border: #636e72;
    font-size: 15px;
    border: 3px solid #dfe6e9;

}
.username-field:focus{
    outline: none;
    border: 3px solid #e84118;
}
.password-field:focus{
    outline: none;
    border: 3px solid #e84118;
}
.login-button{
    border-radius: 25px;
    width: 70%;
    height: 40px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.login-button:hover{
    background-color: #3742fa;
}


.user-details{


    align-items: center;
    text-align: center;
    
}
.post-list{
    text-align: center;
}
.post-list ul{
    display:inline-table;
}
.post-list ul li{
    color:black;
    font-size: medium;
}
.post-list ul li:hover{
    color :#3742fa;
    font-size: larger;
}
.viewpost-button :hover{
    background-color: #3742fa;
}
.header-components{
    
    margin-top: 5px;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
   
    
    
}
.viewprofile-button{
    margin-left: 10px ;
    cursor: pointer;
    font-size: 20px;
    background: none;
    color: #0097e6;;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    float: left;
    
}
.signout-button{
    margin-left: 10px ;
    margin-right: 10px;
    background-color: #e84118;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    float: right;
    
}
.viewposts-button
{
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #0097e6;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    float: right;
}

.user-name{
    float: left;
    
    
}